<p>
  You are signed in as <%= current_user.username %>.  Click the button below to sign out.
</p>

<%= require 'pry'; binding.pry %>

<%= image_tag(current_user.avatar_url) %>

<p>
  <%= link_to user_followers_path(current_user) do %>
    Followers: <%= current_user.followers.length %>
  <% end %>
</p>

<p>
  <%= link_to user_following_path(current_user) do %>
    Following: <%= current_user.following.length %>
  <% end %>
</p>

<p>
  <%= link_to user_starred_path(current_user) do %>
    Starred: <%= current_user.starred.length %>
  <% end %>
</p>

<%= button_to "Sign Out", signout_path, method: :delete %>
