
<div class="clearfix">

  <div class="sm-col sm-col-3">
  <%= render partial:"/partials/profile_info" %>
  </div>

  <div class="sm-col sm-col-9">
    <%= render partial: "/partials/on_page_nav" %>

    <h2> Recent Commits </h2>
   <% @github_presenter.recent_commits.each do |commit| %>
   <div class="commit clearfix">
     <p class="message"><strong>Message:</strong> <%= commit.message %><p>
    </div>
    <div class="clearfix commit-row">
     <div class="col col-4">
       <p><strong>Date:</strong> <%= commit.date %><p>
      </div>
      <div class="col col-7">
       <p><strong>Repo:</strong> <%= commit.repo_name %></p>
      </div>
   </div>
   <% end %>
  </div>
</div>
